<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>file:///Users/jimmy/Documents/Dev/Github/HoneyNet/docs/</key>
					<true/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Voyager</key>
					<dict>
						<key>%colour_site_slogan%</key>
						<string>#FBFFFE</string>
					</dict>
					<key>Voyager Pro</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCSS</key>
				<string>.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }</string>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSlogan</key>
				<string>Mesh-networking IoT. Sweet like honey.</string>
				<key>CustomSloganUsed</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Voyager</key>
					<array>
						<string>Banner Height.540 px</string>
						<string>Body Text.Open Sans</string>
						<string>Breadcrumb Trail.Translucent White Presets</string>
						<string>Content Width.1,170px</string>
						<string>Headers.Open Sans</string>
						<string>Navigation Overlay.Translucent Black</string>
						<string>Sidebar.Hidden</string>
						<string>Site Slogan.Fjalla One</string>
						<string>Site Title Divider.Light</string>
						<string>Site Title.Fjalla One</string>
						<string>Theme Toggles.Show Site Title in Navigation Overlay</string>
						<string>Theme Toggles.Uppercase Site Title</string>
						<string>Theme Toggles.Uppercase Slogan</string>
					</array>
					<key>Voyager Pro</key>
					<array>
						<string>Banner Background Overlay.None</string>
						<string>Banner Height.540 px</string>
						<string>Body Text.Open Sans</string>
						<string>Breadcrumb Trail.Translucent White Presets</string>
						<string>Content Width.1,170px</string>
						<string>Headers.Fjalla One</string>
						<string>Navigation Overlay.Translucent Black</string>
						<string>Navigation Sticky Bar Background.Dark - 90%</string>
						<string>Navigation Toggle Hover Background.Light - 25%</string>
						<string>Sidebar.Right-hand Side</string>
						<string>Site Slogan.Fjalla One</string>
						<string>Site Title Divider.Light</string>
						<string>Site Title.Fjalla One</string>
						<string>Theme Toggles.Enable Scroll to Top Button</string>
						<string>Theme Toggles.Enable Sticky Navigation</string>
						<string>Theme Toggles.Show Logo in Navigation Overlay</string>
						<string>Theme Toggles.Show Site Title in Navigation Overlay</string>
						<string>Theme Toggles.Uppercase Site Title</string>
						<string>Theme Toggles.Uppercase Slogan</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
