<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ColourStyles</key>
				<dict>
					<key>Voyager</key>
					<dict>
						<key>%colour_site_slogan%</key>
						<string>#FBFFFE</string>
					</dict>
					<key>Voyager Pro</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string></string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Voyager</key>
					<array>
						<string>Banner Height.540 px</string>
						<string>Body Text.Open Sans</string>
						<string>Breadcrumb Trail.Translucent White Presets</string>
						<string>Content Width.1,170px</string>
						<string>Headers.Open Sans</string>
						<string>Navigation Overlay.Translucent Black</string>
						<string>Sidebar.Hidden</string>
						<string>Site Slogan.Fjalla One</string>
						<string>Site Title Divider.Light</string>
						<string>Site Title.Fjalla One</string>
						<string>Theme Toggles.Show Site Title in Navigation Overlay</string>
						<string>Theme Toggles.Uppercase Site Title</string>
						<string>Theme Toggles.Uppercase Slogan</string>
					</array>
					<key>Voyager Pro</key>
					<array>
						<string>Banner Background Overlay.None</string>
						<string>Banner Height.540 px</string>
						<string>Body Text.Open Sans</string>
						<string>Breadcrumb Trail.Translucent White Presets</string>
						<string>Content Width.1,170px</string>
						<string>Headers.Fjalla One</string>
						<string>Navigation Overlay.Translucent Black</string>
						<string>Navigation Sticky Bar Background.Dark - 90%</string>
						<string>Navigation Toggle Hover Background.Light - 25%</string>
						<string>Sidebar.Right-hand Side</string>
						<string>Site Slogan.Fjalla One</string>
						<string>Site Title Divider.Light</string>
						<string>Site Title.Fjalla One</string>
						<string>Theme Toggles.Enable Scroll to Top Button</string>
						<string>Theme Toggles.Enable Sticky Navigation</string>
						<string>Theme Toggles.Show Logo in Navigation Overlay</string>
						<string>Theme Toggles.Show Site Title in Navigation Overlay</string>
						<string>Theme Toggles.Uppercase Site Title</string>
						<string>Theme Toggles.Uppercase Slogan</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
