<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>HomePage</key>
				<string>1-Introduction</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-Introduction</string>
				<string>2-Instruction-Manual</string>
				<string>3-Developer0027s-Notes</string>
				<string>4-Contact-Us</string>
				<string>5-About-Us</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
